.custom-stripe-submit-btn{
    margin-top: 20px;
}
.custom-stripe-submit-btn{
    button{
        width:150px;
        border-radius: 20px;
        background: linear-gradient(to right, #56ccf2, #2f80ed);
        color: #fff;
        transition: all .4s ease-in-out;
        &:hover{
           background: transparent;
           border: 1px solid #2f80ed;
        }
    }
}